
@media (max-width: 575.98px) 
{
        .Ctitle{
            display: flexbox;
            color: teal;
            width: 100%;
        }
        
        .Ccointainer{
            display: flexbox;
        }
        
        .Ccointainer img{
            height: 150px;
            margin-left: 10px;
            margin-bottom: 10px;
            width: 140px;
        }
    
}

@media (min-width: 576px) and (max-width: 767.98px) 
{ 
    .Ctitle{
        display: flexbox;
        color: teal;
        margin-left: -80px;
        width: 100%;
    }
    
    .Ccointainer{
        display: flexbox;
    }
    
    .Ccointainer img{
        height: 150px;
        margin-left: 20px;
        margin-bottom: 10px;
        width: 167px;
    }

}
@media (min-width: 768px) and (max-width: 991.98px) 
{ 
    .Ctitle{
        display: flexbox;
        color: teal;
        margin-left: -210px;
        width: 100%;
    }
    
    .Ccointainer{
        
        display: flexbox;
    }
    
    .Ccointainer img{
        height: 150px;
        margin-left: 20px;
        margin-bottom: 10px;
        width: 167px;
    }

}
@media (min-width: 992px) and (max-width: 1199.98px) 
{ 
    .Ctitle{
        margin-left: -340px;
        display: flexbox;
        color: teal;
        width: 100%;
    }
    
    .Ccointainer{
        display: flexbox;
    }
    
    .Ccointainer img{
        height: 220px;
        margin-left: 10px;
        margin-bottom: 10px;
        width: 230px;
    }

}
@media (min-width: 1200px) 
{ 
    .Ctitle{
        display: flexbox;
        color: teal;
        margin-left: -440px;
        width: 100%;
    }
    
    .Ccointainer{
        display: flexbox;
    }
    
    .Ccointainer img{
        height: 260px;
        margin-left: 15px;
        margin-bottom: 10px;
        width: 280px;
    }

}